<% cache([@campuses, Time.now.to_date, Time.now.hour]) do %>

  <% if @campuses %>
    <% campus_ids = @campuses.collect(&:id) %>

    <h1>
      National Snapshot Report
    </h1><br>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('#sortable').dataTable( {
          "aaSorting": [[ 0, "asc" ]],
          "bJQueryUI": true,
          "sPaginationType": "full_numbers"
        } );
      } );

      $(document).ready(function() {
        $('#sortable2').dataTable( {
          "aaSorting": [[ 0, "asc" ]],
          "bJQueryUI": true,
          "sPaginationType": "full_numbers"
        } );
      } );
    </script>

    <div>

      <h2>Drill-down by Priority</h2>
      <table id="sortable" cellpadding="0" cellspacing="0">
        <thead class="center">
          <tr>
            <th>School</th>
            <th>Total</th>
            <th>Hot</th>
            <th>Medium</th>
            <th>Mild</th>
            <th>Not Interested</th>
          </tr>
        </thead>
        <tbody>
          <% @campuses.each do |campus| %>
            <tr>
              <td><%= campus.desc %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:priority => [contact_search_options[:priority][:options][1], contact_search_options[:priority][:options][2], contact_search_options[:priority][:options][3], contact_search_options[:priority][:options][4]]}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:priority => contact_search_options[:priority][:options][1]}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:priority => contact_search_options[:priority][:options][2]}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:priority => contact_search_options[:priority][:options][3]}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:priority => contact_search_options[:priority][:options][4]}).size %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td>Totals</td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :priority => [contact_search_options[:priority][:options][1], contact_search_options[:priority][:options][2], contact_search_options[:priority][:options][3], contact_search_options[:priority][:options][4]]}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :priority => contact_search_options[:priority][:options][1]}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :priority => contact_search_options[:priority][:options][2]}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :priority => contact_search_options[:priority][:options][3]}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :priority => contact_search_options[:priority][:options][4]}).size %></td>
          </tr>
        </tfoot>
      </table>

      <br>
      <div class="clear"></div>
      <br>

      <h2>Follow-up Progress</h2>
      <table id="sortable2" cellpadding="0" cellspacing="0">
        <thead class="center">
          <tr>
            <th>School</th>
            <th>Completed</th>
            <th>In Progress</th>
            <th>Uncontacted</th>
            <th>Attempted</th>
            <th>Contacted</th>
            <th>Do Not Contact</th>
          </tr>
        </thead>
        <tbody>
          <% @campuses.each do |campus| %>
            <tr>
              <td><%= campus.desc %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:status => 2}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:status => [0, 1, 4]}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:status => 0}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:status => 1}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:status => 4}).size %></td>
              <td class="snap-right"><%= number_with_delimiter campus.survey_contacts.all(:conditions => {:status => 3}).size %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td>Totals</td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :status => 2}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :status => [0, 1, 4]}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :status => 0}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :status => 1}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :status => 4}).size %></td>
            <td class="snap-right"><%= number_with_delimiter SurveyContact.all(:conditions => {:campus_id => campus_ids, :status => 3}).size %></td>
          </tr>
        </tfoot>
      </table>

      <br>
      <div class="clear"></div>
      <br>
    </div>
    <div id="results" class="contacts_report">

      <table class="statsTable statsReportTabContainer">
        <thead>
          <tr>
            <th colspan="2" class="statsTitle"><p>Rejoiceables</p></th>
          </tr>
        </thead>
        <tbody>
          <tr class="nohighlight">
            <td colspan="2"><%= number_with_delimiter Activity.all(:conditions => {:reportable_type => 'SurveyContact', :activity_type_id => [2, 3, 4]}).size %> people across the country</td>
          </tr>
          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Spiritual Conversation</td>
            <td><%= number_with_delimiter Activity.all(:conditions => {:reportable_type => 'SurveyContact', :activity_type_id => [2]}).size %></td>
          </tr>
          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Gospel Presentation</td>
            <td><%= number_with_delimiter Activity.all(:conditions => {:reportable_type => 'SurveyContact', :activity_type_id => [3]}).size %></td>
          </tr>
          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Indicated Decision</td>
            <td><%= number_with_delimiter Activity.all(:conditions => {:reportable_type => 'SurveyContact', :activity_type_id => [4]}).size %></td>
          </tr>
        </tbody>  
      </table>

      <br>
      <br>

      <table class="statsTable statsReportTabContainer">
        <thead>
          <tr>
            <th colspan="2" class="statsTitle"><p>Results</p></th>
          </tr>
        </thead>
        <tbody>
          <tr class="nohighlight">
            <td colspan="2">Reached out but...</td>
          </tr>

          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Bad Information</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [1]}).size %></td>
          </tr>
          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">No Response</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [2]}).size %></td>
          </tr>
          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">No Longer Interested</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [3]}).size %></td>
          </tr>
          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Another Digital Sent</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [4]}).size %></td>
          </tr>

          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Total</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [1, 2, 3, 4]}).size %></td>
          </tr>

          <tr class="nohighlight">
            <td colspan="2">&nbsp;</td>
          </tr>

          <tr class="nohighlight">
            <td colspan="2">Met and...</td>
          </tr>

          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Magazine Grab 'n' Go</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [5]}).size %></td>
          </tr>
          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Interaction</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [6]}).size %></td>
          </tr>
          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Interaction & Magazine</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [7]}).size %></td>
          </tr>

          <tr class="<%= cycle('highlight', 'nohighlight') %>">
            <td class="statsTableTitle">Total</td>
            <td><%= number_with_delimiter SurveyContact.all(:conditions => {:result => [5, 6, 7]}).size %></td>
          </tr>
        </tbody>  
      </table>


      <br>
      <br>
      <br>
      <p>The total number of contacts <em>in progress</em> is the sum of the number of contacts with a status of uncontacted, attempted or contacted.</p>
      <br>
      <p>Information updated hourly.</p>
      <br>
      <br>
      <p><%= link_to "Back to contact search", search_contacts_path %></p>
    </div>

  <% end %>
  
<% end %>